/*container*/
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.box {
  display: flex;
  flex: 1;
  align-items: center;
  width: 250px;
}

.textbox {
  margin: 10px;
}

/*header styling*/
.page-header {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  align-self: flex-start;
  height: 30px;
}

.header-links {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.header-link {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

/*semi-header*/
.user-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.user-num-posts {
  margin-right: 5px;
}
.user-num-followers {
  margin-right: 5px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.user-num-following {
  margin-right: 5px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

/*posts*/
.chicken-images {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-img {
  object-fit: contain;
  width: 500px;
  margin: 20px;
}
